<footer class="footer">
  <div class="container">
    <div class="apps">
      <p class="footer__p">ПРИЛОЖЕНИЯ</p>
      <a href="#" class="footer__link">IOS</a>
      <a href="#" class="footer__link">Android</a>
      <a href="#" class="footer__link">Windows</a>
    </div>

    <div class="soc_network">
      <p class="footer__p">СОЦСЕТИ</p>
      <a href="#" class="footer__link">ВКонтакте</a>
      <a href="#" class="footer__link">Facebook</a>
      <a href="#" class="footer__link">Одноклассники</a>
      <a href="#" class="footer__link">Twitter</a>
      <a href="#" class="footer__link">Instagram</a>
    </div>

    <p class="footer__text">&copy 2020 Автомойка “МИР”</p>

    <div class="help">
      <p class="help__p">СЛУЖБА ПОДДЕРЖКИ</p>
      <a href="#">
        <div class="help__btn">Задать вопрос</div>
      </a>
    </div>
    <a href="#" class="footer__link-btm">Полная версия</a>
    <a href="#" class="footer__link-btm" style="position: absolute;
                right: 16px;">Вход для владельца</a>
  </div>
</footer>
