
<div class="main">
  <div class="container">
    <h3 class="text__main">Платежи</h3>
    <div class="payments">
      <p class="payments__title">Наименование</p>
      <p class="payments__names">Индивидуальный предприниматель Кокуркин Дмитрий Николаевич</p>
    </div>
    <div class="payments">
      <p class="payments__title">Юридический адрес</p>
      <p class="payments__names">Российская Федерация, 129090, Г. МОСКВА, ул.Каланчёвская, дом 45,
        строение 4
      </p>
    </div>
    <div class="payments">
      <p class="payments__title">ИНН</p>
      <p class="payments__names">519017063630</p>
    </div>
    <div class="payments">
      <p class="payments__title">ОГРНИП</p>
      <p class="payments__names">317502400036446 от 22.06.2017г.</p>
    </div>
    <div class="payments">
      <p class="payments__title">КПП</p>
      <p class="payments__names">770801001</p>
    </div>
    <div class="payments">
      <p class="payments__title">Расчетный счет</p>
      <p class="payments__names">40802810601890000077</p>
    </div>
    <div class="payments">
      <p class="payments__title">Корр. счет</p>
      <p class="payments__names">30101810200000000593</p>
    </div>
    <div class="payments">
      <p class="payments__title">Банк</p>
      <p class="payments__names">АО “АЛЬФА-БАНК” г. Москва</p>
    </div>
    <div class="payments">
      <p class="payments__title">БИК Банка</p>
      <p class="payments__names">044525593</p>
    </div>
    <div class="payments">
      <p class="payments__title">ОКПО</p>
      <p class="payments__names">0115092080</p>
    </div>
    <h4 style="font-family: OpenSans-Regular;
                font-style: normal;
                font-weight: 600;
                font-size: 14px;
                line-height: 19px;
                color: #939599;
                margin-bottom: 7px;">Список счетов</h4>

    <div class="payments__table">
      <div class="payments__table-top">
        <p>Оплата</p>
        <p>Описание счета</p>
        <p>Сумма платежа</p>
        <p>Статус</p>
        <p></p>
      </div>
      <hr class="payments__table-top-hr">
      <div class="payments__table-content">
        <p>до 16.02.2020</p>
        <p>Второй тестовый</p>
        <p>15 000, 00₽</p>
        <p>Отменен</p>
        <p><img src="../../../../../assets/images/download.svg"></p>
      </div>
      <hr class="payments__table-hr">
      <div class="payments__table-content">
        <p>до 16.02.2020</p>
        <p>Второй тестовый</p>
        <p>15 000, 00₽</p>
        <p>Отменен</p>
        <p><img src="../../../../../assets/images/download.svg"></p>
      </div>
      <hr class="payments__table-hr">
      <div class="payments__table-content" style="border-radius: 0 0 12px 12px;">
        <p>до 16.02.2020</p>
        <p>Второй тестовый</p>
        <p>15 000, 00₽</p>
        <p>Отменен</p>
        <p><img src="../../../../../assets/images/download.svg"></p>
      </div>
    </div>
  </div>
</div>
