
<section class="main">
  <div class="container">
    <h3 class="text__main">Администраторы</h3>
    <img   src="../../../../assets/pics/Add.svg" width="27px" height="27px" style="position: absolute;
                right: 16px;
                top: 0;">

    <div class="admins">
      <p class="admins-p">Имя</p>
      <p class="admins-pt">Василий</p>
      <hr class="admins_hr">
      <p class="admins-p">Фамилия</p>
      <p class="admins-pt">Васькин</p>
      <hr class="admins_hr">
      <p class="admins-p">Логин</p>
      <p class="admins-pt">15698753</p>
      <hr class="admins_hr">
      <p class="admins-p">Кассир</p>
      <div class="admins-pt">
        <div class="check"></div>
      </div>
      <hr class="admins_hr">
      <p class="admins-p">Пароль</p>
      <div class="admins-pt">
        <div class="round"></div>
        <div class="round"></div>
        <div class="round"></div>
        <div class="round"></div>
        <div class="round"></div>
        <div class="round"></div>
      </div>
      <hr class="admins_hr">
      <p class="admins-p">Ставки</p>
      <p class="admins-pt">0, 00%</p>
        <div class="main__inner">
          <div class="item">
            <img src="src=../../../../assets/pics/warning.svg">
      <p>0</p>
    </div>
    <div class="item">
      <img src="src=../../../../assets/pics/star.svg">
      <p>0</p>
    </div>
    <div class="item">
      <img src="src=../../../../assets/pics/stonks.svg">
      <p>0</p>
    </div>
    <div class="item">
      <img src="../../../../../../assets/pics/wallet.svg">
      <p>0</p>
    </div>
    <div class="item">
      <img src="../../../../../../assets/pics/list.svg">
      <p>0</p>
    </div>
  </div>
  <div class="admins-btn">
    <p>Изменить</p>
  </div>
  </div>
  </div>
</section>
