<section class="main">
    <div class="container">
        <h3 class="text__main">Исполнители</h3>
        <img src="../../../../../../assets/pics/Add.svg" width="27px" height="27px" style="
        position: absolute;
        top: 0;
        right: 16px;">

    <div class="executors">
        <p class="executors-p">Имя</p>
        <p class="executors-pt">Никита</p>
        <hr class="executors-hr">
        <p class="executors-p">Фамилия</p>
        <p class="executors-pt">Ремизов</p>
        <hr class="executors-hr">
        <p class="executors-p">Ставки</p>
        <p class="executors-pt">30%</p>
        <hr class="executors-hr">

        <div class="main__inner">
            <div class="item">
                <img src="../../../../../../assets/pics/warning.svg">
                <p>0</p>
            </div>
            <div class="item">
                <img src="../../../../../../assets/pics/star.svg">
                <p>0</p>
            </div>
            <div class="item">
                <img src="../../../../../../assets/pics/stonks.svg">
                <p>0</p>
            </div>
            <div class="item">
                <img src="../../../../../../assets/pics/wallet.svg">
                <p>0</p>
            </div>
            <div class="item">
                <img src="../../../../../../assets/pics/list.svg">
                <p>0</p>
            </div>
        </div>

        <div class="executors-btn">
            <p (click)="home()">Изменить</p>
        </div>
    </div>
    </div>
</section>
