<section class="main">
  <div class="container">
    <h3 class="text__main">Процентная ставка</h3>
    <img src="../../images/add.svg" width="27px" height="27px" style="position: absolute;
                right: 16px;
                top: 0;">
    <h5 class="subText">Обычная процентная ставка</h5>

    <div class="percents">
      <div class="percents__links">
        <a href="#out" class="percents__link link__tab">Вне смены
          Ставка, %</a>
        <a href="#day" class="percents__link link__tab">(07:00-19:00)
          Дневная, %</a>
      </div>
      <div id="out" class="percents__item tab__item">
        <div class="percents__item-cont">
          <p class="percents__item-title">Автомойка</p>
          <p class="percents__item-text">30</p>
        </div>
        <div class="percents__item-cont">
          <p class="percents__item-title">Детейлинг</p>
          <p class="percents__item-text">30</p>
        </div>
        <div class="percents__item-cont">
          <p class="percents__item-title">Кафе</p>
          <p class="percents__item-text">-</p>
        </div>
        <div class="percents__item-cont">
          <p class="percents__item-title">Слесарка</p>
          <p class="percents__item-text">-</p>
        </div>
        <div class="percents__item-btn">Сохранить</div>
      </div>

      <div id="day" class="percents__item tab__item">
        <div class="percents__item-cont">
          <p class="percents__item-title">-</p>
          <p class="percents__item-text">-</p>
        </div>
        <div class="percents__item-cont">
          <p class="percents__item-title">-</p>
          <p class="percents__item-text">-</p>
        </div>
        <div class="percents__item-cont">
          <p class="percents__item-title">-</p>
          <p class="percents__item-text">-</p>
        </div>
        <div class="percents__item-cont">
          <p class="percents__item-title">-</p>
          <p class="percents__item-text">-</p>
        </div>
        <div class="percents__item-btn">Сохранить</div>
      </div>
    </div>

    <h5 class="subText">Специальная процентная ставка для определенных услуг</h5>

    <div class="percents__spec">
      <div class="percents__spec-links ">
        <a href="#1" class="percents__spec-link link__tab-spec">-</a>
        <a href="#2" class="percents__spec-link link__tab-spec">-</a>
      </div>

      <div id="1" class="percents__spec-item tab__item-spec">
        <div class="percents__spec-item-cont">
          <p class="percents__spec-item-title">-</p>
          <p class="percents__spec-item-text">-</p>
        </div>
        <div class="percents__spec-item-cont">
          <p class="percents__spec-item-title">-</p>
          <p class="percents__spec-item-text">-</p>
        </div>
        <div class="percents__spec-item-cont">
          <p class="percents__spec-item-title">-</p>
          <p class="percents__spec-item-text">-</p>
        </div>
        <div class="percents__spec-item-cont">
          <p class="percents__spec-item-title">-</p>
          <p class="percents__spec-item-text">-</p>
        </div>
        <div class="percents__item-btn">Изменить</div>
      </div>



      <div id="2" class="percents__spec-item tab__item-spec">
        <div class="percents__spec-item-cont">
          <p>-</p>
          <p>-</p>
        </div>
        <div class="percents__spec-item-cont">
          <p>-</p>
          <p>-</p>
        </div>
        <div class="percents__spec-item-cont">
          <p>-</p>
          <p>-</p>
        </div>
        <div class="percents__spec-item-cont">
          <p>-</p>
          <p>-</p>
        </div>
        <div class="percents__item-btn">Изменить</div>
      </div>
    </div>
    <div class="percents__btn">Применить эти настройки ко всем исполнителям</div>
  </div>
</section>
