<section class="main lock-padding">
    <div class="container">
        <h3 class="text__main">Клиенты</h3>
        <div class="clients__links">
            <a class="clients__links-item link__tab" [routerLink]="['','clients-page', carwash.id]" routerLinkActive="active">Список клиентов</a>
            <a class="clients__links-item link__tab" [routerLink]="['','history-sms', carwash.id]" routerLinkActive="active">История SMS-рассылок</a>
        </div>

        <div id="sms" class="clients__sms table__item">
            <div id="sms1" class="clients__sms-table table__item-spec">
                    <div class="clients__sms-table-top">
                        <p>Дата</p>
                        <p>Сообщение</p>
                        <p>Кол-во получателей</p>
                        <p>Стоимость</p>
                        <p>Получатели</p>
                    </div>
                    <div class="clients__sms-table-cont">
                    <div>
                        <p>26.12.2019</p>
                        <p>С Новым годом!</p>
                        <p>1499</p>
                        <p>4 796,80₽</p>
                        <div>79379804011, 79795055947,
                            79379804011, 79795055947,
                            79379804011, 79795055947,
                            79379804011, 79795055947,
                            79379804011, 79795055947,
                            79379804011, 79795055947,
                            79379804011, 79795055947,
                        </div>
                    </div>
                    <hr>
                    <div class="clients__sms-table-cont">
                        <p>26.12.2019</p>
                        <p>С Новым годом!</p>
                        <p>1499</p>
                        <p>4 796,80₽</p>
                        <div>79379804011, 79795055947,
                            79379804011, 79795055947,
                            79379804011, 79795055947,
                            79379804011, 79795055947,
                            79379804011, 79795055947,
                            79379804011, 79795055947,
                            79379804011, 79795055947,
                        </div>
                    </div>
                    <hr>
                    <div class="clients__sms-table-cont">
                        <p>26.12.2019</p>
                        <p>С Новым годом!</p>
                        <p>1499</p>
                        <p>4 796,80₽</p>
                        <div>79379804011, 79795055947,
                            79379804011, 79795055947,
                            79379804011, 79795055947,
                            79379804011, 79795055947,
                            79379804011, 79795055947,
                            79379804011, 79795055947,
                            79379804011, 79795055947,
                        </div>
                    </div>
                </div>

                <div id="sms2" class="clients__sms-table tab__item-spec">
                    <div class="clients__sms-table-top">
                        <p>Дата</p>
                        <p>Сообщение</p>
                        <p>Кол-во получателей</p>
                        <p>Стоимость</p>
                        <p>Получатели</p>
                    </div>
                    <div class="clients__sms-table-cont">
                        <p>26.12.2019</p>
                        <p>С Новым годом!</p>
                        <p>1499</p>
                        <p>4 796,80₽</p>
                        <div>79379804011, 79795055947,
                            79379804011, 79795055947,
                            79379804011, 79795055947,
                            79379804011, 79795055947,
                            79379804011, 79795055947,
                            79379804011, 79795055947,
                            79379804011, 79795055947,
                        </div>
                    </div>
                    <hr>
                    <div class="clients__sms-table-cont">
                        <p>26.12.2019</p>
                        <p>С Новым годом!</p>
                        <p>1499</p>
                        <p>4 796,80₽</p>
                        <div>79379804011, 79795055947,
                            79379804011, 79795055947,
                            79379804011, 79795055947,
                            79379804011, 79795055947,
                            79379804011, 79795055947,
                            79379804011, 79795055947,
                            79379804011, 79795055947,
                        </div>
                    </div>
                </div>

                <div id="sms3" class="clients__sms-table tab__item-spec">
                    <div class="clients__sms-table-top">
                        <p>Дата</p>
                        <p>Сообщение</p>
                        <p>Кол-во получателей</p>
                        <p>Стоимость</p>
                        <p>Получатели</p>
                    </div>
                    <div class="clients__sms-table-cont">
                        <p>26.12.2019</p>
                        <p>С Новым годом!</p>
                        <p>1499</p>
                        <p>4 796,80₽</p>
                        <div>79379804011, 79795055947,
                            79379804011, 79795055947,
                            79379804011, 79795055947,
                            79379804011, 79795055947,
                            79379804011, 79795055947,
                            79379804011, 79795055947,
                            79379804011, 79795055947,
                        </div>
                    </div>
                </div>

                <div class="clients__sms-tabs">
                    <a href="#sms1" class="clients__sms-link link__tab-spec">1</a>
                    <a href="#sms2" class="clients__sms-link link__tab-spec">2</a>
                    <a href="#sms3" class="clients__sms-link link__tab-spec">3</a>
                </div>
            </div>

        </div>
    </div>
</section>


