<div class="analytics__table table__item" >
  <div class="analytics__table-top">
    <p></p>
    <p style="padding: 0;">% превышения времени на услугу</p>
    <p>Нормативное время</p>
    <p>Среднее время на услугу</p>
    <p>Оказано</p>
    <p>Средняя стоимость</p>
    <p>Доход с услуги</p>
  </div>
  <div class="analytics__table-cont">
    <p class="analytics__table-cont_p" style="color: #260b5d;">Полировка</p>
  </div>
  <hr class="analytics__table-hrMain">
  <div class="analytics__table-cont">
    <p class="analytics__table-cont_p">Полировка легковая</p>
    <p class="analytics__table-cont_p analytics__table-cont_p-Main">0%</p>
    <p class="analytics__table-cont_p analytics__table-cont_p-Main">0 мин.</p>
    <p class="analytics__table-cont_p analytics__table-cont_p-Main">0 мин.</p>
    <p class="analytics__table-cont_p analytics__table-cont_p-Main">0 раз</p>
    <p class="analytics__table-cont_p analytics__table-cont_p-Main">0₽</p>
    <p class="analytics__table-cont_p analytics__table-cont_p-Main">0₽</p>
  </div>
  <hr class="analytics__table-hr">
  <div class="analytics__table-cont">
    <p class="analytics__table-cont_p">Полировка кроссовер</p>
    <p class="analytics__table-cont_p analytics__table-cont_p-Main">0%</p>
    <p class="analytics__table-cont_p analytics__table-cont_p-Main">0 мин.</p>
    <p class="analytics__table-cont_p analytics__table-cont_p-Main">0 мин.</p>
    <p class="analytics__table-cont_p analytics__table-cont_p-Main">0 раз</p>
    <p class="analytics__table-cont_p analytics__table-cont_p-Main">0₽</p>
    <p class="analytics__table-cont_p analytics__table-cont_p-Main">0₽</p>
  </div>
  <hr class="analytics__table-hr">
  <div class="analytics__table-cont">
    <p class="analytics__table-cont_p">Полировка джип</p>
    <p class="analytics__table-cont_p analytics__table-cont_p-Main">0%</p>
    <p class="analytics__table-cont_p analytics__table-cont_p-Main">0 мин.</p>
    <p class="analytics__table-cont_p analytics__table-cont_p-Main">0 мин.</p>
    <p class="analytics__table-cont_p analytics__table-cont_p-Main">0 раз</p>
    <p class="analytics__table-cont_p analytics__table-cont_p-Main">0₽</p>
    <p class="analytics__table-cont_p analytics__table-cont_p-Main">0₽</p>
  </div>
  <hr class="analytics__table-hr">


  <div class="analytics__table-cont">
    <p class="analytics__table-cont_p" style="color: #260b5d;">Химчистка</p>
  </div>
  <hr class="analytics__table-hrMain">
  <div class="analytics__table-cont">
    <p class="analytics__table-cont_p" style="padding: 0;">Легкая химчистка легковая</p>
    <p class="analytics__table-cont_p analytics__table-cont_p-Main">0%</p>
    <p class="analytics__table-cont_p analytics__table-cont_p-Main">0 мин.</p>
    <p class="analytics__table-cont_p analytics__table-cont_p-Main">0 мин.</p>
    <p class="analytics__table-cont_p analytics__table-cont_p-Main">0 раз</p>
    <p class="analytics__table-cont_p analytics__table-cont_p-Main">0₽</p>
    <p class="analytics__table-cont_p analytics__table-cont_p-Main">0₽</p>
  </div>
  <hr class="analytics__table-hr">
  <div class="analytics__table-cont">
    <p class="analytics__table-cont_p" style="padding: 0;">Глубокая химчистка легковая</p>
    <p class="analytics__table-cont_p analytics__table-cont_p-Main">0%</p>
    <p class="analytics__table-cont_p analytics__table-cont_p-Main">0 мин.</p>
    <p class="analytics__table-cont_p analytics__table-cont_p-Main">0 мин.</p>
    <p class="analytics__table-cont_p analytics__table-cont_p-Main">0 раз</p>
    <p class="analytics__table-cont_p analytics__table-cont_p-Main">0₽</p>
    <p class="analytics__table-cont_p analytics__table-cont_p-Main">0₽</p>
  </div>
  <hr class="analytics__table-hr">
  <div class="analytics__table-cont">
    <p class="analytics__table-cont_p" style="padding: 0;">Легкая химчистка кроссовер</p>
    <p class="analytics__table-cont_p analytics__table-cont_p-Main">0%</p>
    <p class="analytics__table-cont_p analytics__table-cont_p-Main">0 мин.</p>
    <p class="analytics__table-cont_p analytics__table-cont_p-Main">0 мин.</p>
    <p class="analytics__table-cont_p analytics__table-cont_p-Main">0 раз</p>
    <p class="analytics__table-cont_p analytics__table-cont_p-Main">0₽</p>
    <p class="analytics__table-cont_p analytics__table-cont_p-Main">0₽</p>
  </div>
</div>
