
<section class="main">
  <div class="container">
    <h3 class="text__main">Управляющие</h3>
    <img src="../../../../../../assets/pics/Add.svg" width="27px" height="27px" style="position: absolute;
                top: 0;
                right: 16px;">

    <div class="managers">
      <p class="managers-p">Имя</p>
      <p class="managers-pt">Вадим</p>
      <hr class="managers-hr">
      <p class="managers-p">Фамилия</p>
      <p class="managers-pt">Петров</p>
      <hr class="managers-hr">
      <p class="managers-p">Логин</p>
      <p class="managers-pt">89009998877</p>
      <hr class="managers-hr">
      <p class="managers-p">Пароль</p>
      <div class="managers-pt">
        <div class="round"></div>
        <div class="round"></div>
        <div class="round"></div>
        <div class="round"></div>
        <div class="round"></div>
        <div class="round"></div>
      </div>
      <div class="managers-btn">
        <p>Изменить</p>
      </div>
    </div>

    <div class="managers">
      <p class="managers-p">Имя</p>
      <p class="managers-pt">Вадим</p>
      <hr class="managers-hr">
      <p class="managers-p">Фамилия</p>
      <p class="managers-pt">Петров</p>
      <hr class="managers-hr">
      <p class="managers-p">Логин</p>
      <p class="managers-pt">89009998877</p>
      <hr class="managers-hr">
      <p class="managers-p">Пароль</p>
      <div class="managers-pt">
        <div class="round"></div>
        <div class="round"></div>
        <div class="round"></div>
        <div class="round"></div>
        <div class="round"></div>
        <div class="round"></div>
      </div>
      <div class="managers-btn">
        <p>Изменить</p>
      </div>
    </div>
  </div>
</section>

